

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}


body {
  background-color: #F1F6F5;
  font-family: "Poppins", sans-serif;
}
.header-component {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: #191A24;
  color: aliceblue;
  padding: 0.5em;
  flex-grow: 1;
}

.main-component {
  flex-grow: 1;

}


.sidebar-component {
  /* background-color: #93bdcc; */
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;

}

li{
  text-decoration: none;
  list-style: none;
  display: inline;
  padding: 1em;
  cursor: pointer;
}

lu{
  background-color: rgb(188, 232, 65);
  
}

.title{
  /* font-family: "Delicious Handrawn", cursive; */
  font-weight: 400;
  font-style: normal;
  margin-left: 1em;
}

.side-container{
  display: flex;
  justify-content: center;
  padding: 0.5em;

}

.player-card{
  margin: 0.5em;
  box-shadow: 0 0 10px 5px rgba(51, 46, 46, 0.36);
  border-radius: 0.75rem;
  display: flex;
  width: 25%;
  background-image: url('sixsers.gif');
  background-repeat: repeat;
  margin: 1em;
  padding-left: 0.025em;
  font-family: "Bebas Neue", sans-serif;
}

.player-card-image{
  width: 40%;
  object-fit: cover;
}


.player-card-body{
  background: linear-gradient(45deg, #36343478 10%, #f9f9f9 60%, #c90000de 20%, #1313f2d2 5%);
  /* background-color: rgb(255, 255, 255); */
  width: 60%;
  border-radius: 0.5em;
  display: inline-block;
  padding: 1.5em;
  text-align: center;
}

.player-card-stats-button{
  background-color: #191A24;
  border-radius: 0.5em;
  border-color: #e70501;
  border-width: 0.24em;
  color: aliceblue;
  margin-top: 1em;
}

.player-card-name{
  font-size: 1rem;
  font-weight:800;
  margin-bottom: 1em;
}

.player-card-position{
  font-size: 1rem;
  font-weight:700;
}

.team-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  color: #c8cae9;
}


.team-nav-item{
  font-weight: 900;
  
}

.team-nav-item h2{
  font-weight: 700;
  color: #000752;
}

.team-nav-item h2 span{
  font-weight: 700;
  color: #000752;
}

.team-nav-item button{ 
  background: transparent;
  border-radius: 25px;
  cursor: pointer;
  min-width: 8vw;
  color: #02085d;
  padding: .4em;
  border-color: #010c66 ;
  border-width: 0.1rem;
}

.side-container{
  background-color: #c8cae9;
  background: linear-gradient(45deg, #36343478 10%, #f9f9f9 70%, #c90000de 15%, #1313f2d2 5%);
  background-repeat: repeat; 

}


.team-info{
  flex-grow: 1;
  display: flex;
  padding:0.5em 0; ;
  justify-content: space-evenly;
  margin: 0.5em 0;
  /* background-color: rgb(49, 146, 230); */
  /* font-size: 2rem; */
}

.team-image{
  /* background: transparent; */
  width: 10%;


}